* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section1 {
    flex: 1;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.section1 .nav p {
    font-size: 24px;
    color: #F9FAF8;
}

.section1 .nav {
    display: flex;
    padding: 15px 200px 90px 200px;
    align-items: center;
    justify-content: space-between;
}

.section1 .nav ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.section1 .nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.section1 .content {
    display: flex;
    padding: 0 200px 0 200px;
    align-items: center;
    justify-content: space-between;
}

.section1 .content .left-content {
    width: 600px;
}

.section1 .content .left-content .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.section1 .content .left-content p {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}

.section1 .content .left-content button {
    background-color: #3882F6;
    padding: 8px 30px;
    color: white;
    border-radius: 10px;
    border: none;
}

.section1 .content .image {
    color: white;
    background-color: grey;
    padding: 100px 150px;
}

.section2 {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section2 .info_header {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.section2 .boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.section2 .boxes .box1,
.section2 .boxes .box2,
.section2 .boxes .box3,
.section2 .boxes .box4 {
    width: 250px;
}

.section2 .boxes .box1 .blank,
.section2 .boxes .box2 .blank,
.section2 .boxes .box3 .blank,
.section2 .boxes .box4 .blank {
    border: 6px solid #3882F6;
    border-radius: 20px;
    width: 250px;
    height: 250px;
}

.section2 .boxes .box1 p,
.section2 .boxes .box2 p,
.section2 .boxes .box3 p,
.section2 .boxes .box4 p {
    font-size: 18px;
    color: grey;
    text-align: center;
    padding-top: 8px;
}

.section3 {
    background-color: #E5E7EB;
    flex: 1;
    padding: 100px 380px;
}

.section3 .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.section3 .author {
    display: flex;
    font-size: 26px;
    font-weight: 900;
    align-items: flex-end;
    justify-content: flex-end;
}

.section4 {
    flex: 1;
    padding: 120px 0;
}

.section4 .container {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-between;
    margin: 0 250px;
    padding: 60px 130px;
    border-radius: 10px;
}

.section4 .container .link .link_header {
    font-size: 24px;
    color: white;
    font-weight: 900;
}

.section4 .container .link .link_body {
    font-size: 18px;
    color: #E5E7EB;
}

.section4 .container button {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    font-size: 16px;
    padding: 8px 40px;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 40px 0;
}